{% extends "app/layout.html" %}

{% block content %}

<h2><span class="glyphicon glyphicon-file"></span> About <kbd>#csMTL</kbd></h2>
<h3>We are the C0d3 Slingers from Montreal.</h3>

<br/>

<section class="text-justify">

    <p>This is our contribution to the
        <a href="https://www.canadianopendataexperience.ca/"><abbr title="Canadian Open Data Experience">CODE</abbr> 2015</a>
        edition that took place from February 20th to 22nd of 2015.<br />
        The ultimate goal was to elaborate and build a web application on top of the 
        <a href="http://open.canada.ca">Open Data</a> initiative from the Government of Canada.
    </p>

    <br />

    <p>Such an experience was really engaging and exciting for us. We were complete newbies at first, no skills in web programming or data analysis whatsoever, but we managed to get thru the learning curve and get our hands on this year's sprint.
    </p>

    <p>Getting inspiring ideas from the datasets and this year's objectives was perhaps the biggest challenge and it took us time but we eventually ended up addressing the <mark>Youth Employment</mark> theme by developping this app.</p>

    <br />

    <p>But what's this app all about shall you ask?</p>

    <p>ADD APP GOAL ANd VISION HERE</p>

</section>

{% endblock %}
