{% extends "app/layout.html" %}

{% block content %}

<div class="container body-content">

    <h2><span class="glyphicon glyphicon-file"></span> About <kbd>#csMTL</kbd></h2>
    <h3>We are the C0d3 Slingers from Montreal.</h3>

    <br/>

    <section class="text-justify">

        <p>This is our contribution to the
            <a href="https://www.canadianopendataexperience.ca/"><abbr title="Canadian Open Data Experience">CODE</abbr> 2015</a>
            edition that took place from February 20th to 22nd of 2015.
            The ultimate goal was to elaborate and build a web application basing it on the 
            <a href="http://open.canada.ca">Open Data</a> initiative from the Government of Canada.
        </p>

        <br />


        <p>This experience was really engaging and exciting for us. 
        We were complete newbies at first, no skills in web programming 
        or data analysis whatsoever, but we managed to get through the 
        learning curve and get our hands on this year's 48-hour sprint.
        </p>

        <br />

        <p>
        The biggest challenge we faced was coming up with inspiring ideas 
        by digging into the datasets. After long debates, we found that 
        addressing the <mark>Youth Employment</mark> theme was the dearest 
        to our hearts. 
        </p>

        <br />

        <p><h4>So what is this app all about?</h4></p>

        <p>
        Our tool <kbd>I on the job</kbd> lets you match your field of work 
        with the right Canadian province. All you have to do is select your profile 
        and hit the go button to see your results.
        I on the Job will display the chances of finding a job in each province 
        based on your profile, using the following two data sets from <a href="open.canada.ca">Open Government</a>
        <ul>
           <li><a href="http://open.canada.ca/data/en/dataset/175cf532-6627-4668-8e0d-15b365ee96f8">Job vacancy statistics (JVS), unemployment-to-job vacancies ratio by North American Industry Classification System (NAICS), province and territory</a></li>
           <li><a href="http://open.canada.ca/data/en/dataset/d635ff7d-0512-475c-8233-d19faa36d4f4">People employed, by educational attainment</a></li>
        </ul>
        </p>
    </section>
</div>

{% endblock %}
