{% extends "app/layout.html" %}

{% block content %}

<h2><span class="glyphicon glyphicon-envelope"></span> Contact us</h2>
<h3>Give us your feedback.<br /> Participate in this ongoing effort.</h3>

<br/>

<p>You can reach us by email. Or even better, if you have some programming skills, collaborate!</p>

<br/>

<address>
    <strong>Email you comments:</strong> <a href="mailto:msulivan514@outlook.com"><kbd>msulivan514 @ outlook . com</kbd></a><br/>
    <strong>Connect to our GitHub page:</strong> <a href="#">ADD HERE</a>
</address>


{% endblock %}
