{% extends "app/layout.html" %}

{% block content %}

<header>
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1><strong>Welcome to <kbd>#csMTL</kbd></strong></h1>
            <h3>This webapp makes it possible to do ploploploplop...</h3>
            <h4>Simply make your selection and hit <mark>Go</mark> to get results</h4>
        </div>
    </div>
</header>

<br />


<section>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Select your profile</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="inputField">Working field</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="inputField"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="inputGrade">Education grade</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="inputGrade"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="inputProvince">Province of residency</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="inputProvince"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="inputAgeGroup">Age group</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="inputAgeGroup"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Gender</label>
                            <div class="col-sm-8" id="inputGenders"></div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-primary" data-loading-text="Fetching the results...">
                                    Go Score That
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<br />

<section>
     <div id="results"></div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script>

    // do things when document is ready
    $(function () {
        
        // get search filters from django and populate form on the page
        $.getJSON("/searchFilers", function (data) {

            var fields = data.fields;
            var grades = data.grades;
            var provinces = data.provinces;
            var ages = data.ages;
            var genders = data.sex;

            $.each(fields, function (key, value) {
                var sOption = "<option value=" + key + ">" + value + "</option>";
                $("#inputField").append(sOption);
            });

            $.each(grades, function (key, value) {
                var sOption = "<option value=" + key + ">" + value + "</option>";
                $("#inputGrade").append(sOption);
            });

            $.each(provinces, function (key, value) {
                var sOption = "<option value=" + key + ">" + value + "</option>";
                $("#inputProvince").append(sOption);
            });

            $.each(ages, function (key, value) {
                var sOption = "<option value=" + key + ">" + value + "</option>";
                $("#inputAgeGroup").append(sOption);
            });

            $.each(genders, function (key, value) {
                var sOption = 
                            "<label class='radio-inline'>" +
                                "<input type='radio' name='radioGender' value='" + key + "'>" + value +
                            "</label>";
                $("#inputGenders").append(sOption);
            });

            $("input:radio[name=radioGender]").attr("checked", "checked");

        });

    });

    // attach event handler to form submission
    $("form").submit(function (event) {

        // prevent default form submission behaviour
        event.preventDefault();

        // set loading flag on button
        var $btn = $("form button").button('loading');

        // send async request to django
        var url = "/doSearch/" +
                    $("select#inputField option:selected").val() + "/" +
                    $("select#inputGrade option:selected").val() + "/" +
                    $("select#inputProvince option:selected").val() + "/" +
                    $("select#inputAgeGroup option:selected").val() + "/" +
                    $("input:radio[name=radioGender]:checked").val();

                    
        $.getJSON(url, function (data) {

            var items = [];
            $.each(data, function(key, value){
                items.push("<dt>" + key + "</dt><dd>" + value + "</dd>" );
            });

            $( "<dl/>", {
                "class": "dl-horizontal",
                html: items.join("")
            }).appendTo("#results");

        }).always(function () {

            // release loading flag on button no matter what (success/failure)
            $btn.button('reset');

        });
    });
</script>

{% endblock %}
