{% extends "app/layout.html" %}

{% block content %}

<!-- header with welcoming mesage -->
<header>
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1><strong>Welcome to <span style="white-space: nowrap;"><kbd>I On The Job</kbd></span></strong></h1>
            <h3>Build your career in the right Canadian province.</h3>
        </div>
    </div>
</header>

<!-- section for search filters -->
<section style="background-color: lightslategray;">
    <div class="container body-content">
        <!-- progress bar to indicate loading of search filters -->
        <div class="row collapse in" id="progress">
            <div class="col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-8">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped active" id="progressLoading" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    <span class="sr-only">100% Complete</span>
                  </div>
                </div>
            </div>
        </div>

        <!-- the search results panel -->
        <section class="collapse" id="sectionSearch">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <a href="#searchBody" data-toggle="collapse">
                                <h3 class="panel-title">
                                    <span class="glyphicon glyphicon-triangle-bottom"></span> 
                                    Select your profile
                                </h3>
                            </a>
                        </div>
                        <div class="panel-body collapse in" id="searchBody">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="inputField">Working field</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="inputField"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="inputGrade">Education grade</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="inputGrade"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="inputProvince">Province of residency</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="inputProvince"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="inputAgeGroup">Age group</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="inputAgeGroup"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Gender</label>
                                    <div class="col-sm-8" id="inputGenders"></div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <div class="col-sm-12 text-center">
                                        <button type="submit" class="btn btn-primary" data-loading-text="Fetching the results...">
                                            Go Score That
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

<!-- section for results -->
<section>
    <div class="container body-content">

        <!-- the results panel -->
        <section class="collapse" id="sectionResults">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="glyphicon glyphicon-triangle-bottom"></span> Here are our results</h3>
                        </div>
                        <div class="panel-body">
                            <div id="results"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</section>

<!-- modal box for errors -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="errorModalLabel">Something wrong happened</h4>
            </div>
            <div class="modal-body">
                <p>An unexpected error happened and prevents us from running this service.</p>
                <p>We are sorry for this inconvenience.</p>
                <p>Please try again at a later time :)</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    // provinces are global to this page
    var provinces = undefined;

    // do things when document is ready
    $(function () {
        
        // get search filters from django and populate form on the page
        $.getJSON("/searchFilers", function (data) {

            var fields = data.fields;
            var grades = data.grades;
            provinces = data.provinces;
            var ages = data.ages;
            var genders = data.sex;

            $.each(fields, function (key, value) {
                var sOption = "<option value=" + key + ">" + value + "</option>";
                $("#inputField").append(sOption);
            });

            $.each(grades, function (key, value) {
                var sOption = "<option value=" + key + ">" + value + "</option>";
                $("#inputGrade").append(sOption);
            });

            $.each(provinces, function (key, value) {
                var sOption = "<option value=" + key + ">" + value + "</option>";
                $("#inputProvince").append(sOption);
            });

            $.each(ages, function (key, value) {
                var sOption = "<option value=" + key + ">" + value + "</option>";
                $("#inputAgeGroup").append(sOption);
            });

            $.each(genders, function (key, value) {
                var sOption =
                            "<label class='radio-inline'>" +
                                "<input type='radio' name='radioGender' value='" + key + "'>" + value +
                            "</label>";
                $("#inputGenders").append(sOption);
            });

            $("input:radio[name=radioGender]").attr("checked", "checked");

        }).done(function () {

            // hide progress bar
            $("#progress").collapse('hide');

            // show the search panel
            $("#sectionSearch").collapse('show');

        }).fail(function () {
 
            $("#errorModal").modal('show');

        });

    });

    // attach event handler to form submission
    $("form").submit(function (event) {

        // prevent default form submission behaviour
        event.preventDefault();

        // set loading flag on button
        var $btn = $("form button").button('loading');

        // get province id
        var provinceId = $("select#inputProvince option:selected").val();

        // send async request to django
        var url = "/doSearch/" +
                    $("select#inputField option:selected").val() + "/" +
                    $("select#inputGrade option:selected").val() + "/" +
                    provinceId + "/" +
                    $("select#inputAgeGroup option:selected").val() + "/" +
                    $("input:radio[name=radioGender]:checked").val();

                    
        $.getJSON(url, function (data) {

            var items = [];
            $.each(data, function (key, value) {
                
                var sProgressClass = "progress-bar-success";
                if (key == provinceId) {
                    sProgressClass = "progress-bar-warning";
                }

                var sItem = "<dt>" + provinces[key] + "</dt>" +
                            "<dd>" +
                                "<div class='progress'>" +
                                    "<div class='progress-bar " + sProgressClass + "' role='progressbar' style='width:" + value + "%'>" +
                                        value + "%" +
                                    "</div>" +
                                "</div>" +
                            "</dd>";
                items.push(sItem);
            });

            $("<dl/>", {
                "class": "dl-horizontal",
                html: items.join("")
            }).appendTo("#results");

        }).done(function () {

            // show the results panel
            $("#sectionResults").collapse('show');

            // and collapse the search panel body
            $("#searchBody").collapse('hide');

        }).fail(function () {

            $("#errorModal").modal('show');

        }).always(function () {

            // release loading flag on button no matter what (success/failure)
            $btn.button('reset');

        });
    });
</script>

{% endblock %}
